<div class="content">
	<h1 class="main-font" style="text-align: center;">Projects</h1>
	<div fxLayout="row wrap" fxLayoutGap="16px grid">
		<div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
			<mat-card class="mat-elevation-z4">
				<mat-card-header>
				<img mat-card-avatar src="assets/logo-alternative-u.png" style="background-size: cover;">
				<mat-card-title>SBOL Canvas</mat-card-title>
    			<mat-card-subtitle>Web-based CAD for Synthetic Biology</mat-card-subtitle>
    			</mat-card-header>
				<img mat-card-img src="assets/sbolcanvas-pic.png">
				<mat-card-content>
					<br>
					<p class="description-text">
						With guidance from Stanford educated Professor Chris Myers, my undergraduate capstone team comprised of Logan Terry, Sam Thayer, and myself built the worlds first open source, web-based, synthetic biology CAD program. Still under active development, SBOL Canvas is being used across the globe to aid in the design and sharing of novel constructs. SBOL Canvas was featured at the Twelfth International Workshop on Bio-Design Automation (IWBDA) in 2020, and is expected to be published in the high-impact journal, ACS Synthetic Biology, in 2021.
					</p>
				</mat-card-content>
				<mat-card-actions>
				<a mat-raised-button color="accent" href="https://sbolcanvas.org" target="_blank">APP</a>
				<a mat-raised-button color="accent" href="https://www.iwbdaconf.org/2020/" target="_blank">IWBDA</a>
				<a mat-raised-button color="accent" href="https://github.com/SynBioDex/SBOLCanvas" target="_blank">GITHUB</a>
				</mat-card-actions>
			</mat-card>
		</div>
		<div fxFlex="66%" fxFlex.xs="100%" fxFlex.sm="50%">
			<mat-card class="mat-elevation-z4">
				<mat-card-header>
				<img mat-card-avatar src="assets/angular-icon.png" style="background-size: cover;">
				<mat-card-title>This Website!</mat-card-title>
    			<mat-card-subtitle>Personal website using the Angular framework, and hosted on a Raspberry Pi 3</mat-card-subtitle>
    			</mat-card-header>
				<img mat-card-img src="assets/raspberrypi3.jpeg">
				<mat-card-content>
					<p class="description-text">
						<br>
						Web development can be a fun hobby. I love doing my web development in Angular because 1) it's an actual framework, and 2) I don't have to worry (too much) about designing myself into a corner!
					</p>
				</mat-card-content>
				<mat-card-actions>
				<a mat-raised-button color="accent" href="https://github.com/jaearl/jared-website" target="_blank">GITHUB</a>
				</mat-card-actions>
			</mat-card>
		</div>
		<div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%">
			<mat-card class="mat-elevation-z4">
				<mat-card-header>
				<img mat-card-avatar src="assets/logo-alternative-u.png" style="background-size: cover;">
				<mat-card-title>Zombie Apocalypse</mat-card-title>
    			<mat-card-subtitle>IOS app written in Swift</mat-card-subtitle>
    			</mat-card-header>
				<img mat-card-img src="assets/zombie.png">
				<mat-card-content>
					<p class="description-text">
						<br>
						A project I did as part of a mobile app programming class I took at the University of Utah. I had a lot of fun writing this... Apparently 30% more fun than the rest of the class.
					</p>
				</mat-card-content>
				<mat-card-actions>
				<a mat-raised-button color="accent" href="https://github.com/jaearl/Zombie_Apocalypse" target="_blank">GITHUB</a>
				</mat-card-actions>
			</mat-card>
		</div>
		<div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%">
			<mat-card class="mat-elevation-z4">
				<mat-card-header>
				<img mat-card-avatar src="assets/python-icon.png" style="background-size: cover;">
				<mat-card-title>OGame API</mat-card-title>
    			<mat-card-subtitle>A web browser game hacking prototype</mat-card-subtitle>
    			</mat-card-header>
				<img mat-card-img src="assets/ogame.jpeg">
				<mat-card-content>
					<p class="description-text">
						<br>
						I had a lot of fun hacking a web browser game called OGame, and interfacing a small expert system to the API I wrote for it (I never actually played the game using the bot ;)). I learned a lot about how websites work, how Javascript is parsed, graph algorithms, and the Python programming language. I also learned some lessons about program stability. With how often the website changes, the API was always unstable (and undoubtedly no longer works), but the instability is encapsulated in the OGameAPI interface; so if the API is updated, one can go on developing the bot as if nothing has changed.
					</p>
				</mat-card-content>
				<mat-card-actions>
				<a mat-raised-button color="accent" href="https://github.com/jaearl/Zombie_Apocalypse" target="_blank">GITHUB</a>
				</mat-card-actions>
			</mat-card>
		</div>
	</div>
</div>