<div class="content">
	<div fxLayout="row wrap" fxLayoutGap="16px grid">
		<div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
			<mat-card class="mat-elevation-z4">
				<img mat-card-img src="assets/profile_jared.jpeg">
			</mat-card>
		</div>
		<div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%" style="align-self: center">
			<mat-card class="mat-elevation-z4">
				<h3 class="main-font" style="text-align: center">Software Engineer. Penguin Hacker. Team Player.</h3>
			</mat-card>
		</div>
	</div>
</div>
