<div #roles class="content">
	<h1 class="main-font" style="text-align: center;">Roles</h1>
	<div fxLayout="row wrap" fxLayoutGap="32px grid">
		<div fxFlex="75%" fxFlex.xs="100%" fxFlex.sm="100%">
			<mat-card class="mat-elevation-z4">
				<mat-card-content>
					<h2 class="main-font" style="text-align: center">Software Engineer &middot; 2019 - Present</h2>
					<h3 class="main-font" style="text-align: center">Insider Threat</h3>
					<h4 class="main-font" style="text-align: center">Linux Endpoint Engineering &middot; Cross Platform &middot; Linux Kernel</h4>
					<p></p>
				</mat-card-content>
			</mat-card>
		</div>
		<div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="100%">
			<mat-card class="mat-elevation-z4">
				<img mat-card-img src="assets/forcepoint-logo.png">
			</mat-card>
		</div>
		<br>
		<div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="100%">
			<mat-card class="mat-elevation-z4">
				<img mat-card-img src="assets/forcepoint-logo.png">
			</mat-card>
		</div>
		<div fxFlex="75%" fxFlex.xs="100%" fxFlex.sm="100%">
			<mat-card class="mat-elevation-z4">
				<mat-card-content>
					<h2 class="main-font" style="text-align: center">Professional Services &middot; 1.5 Years</h2>
					<h3 class="main-font" style="text-align: center">Cross Domain Security</h3>
					<h4 class="main-font" style="text-align: center">Transpiler &middot; Socket Programming &middot; Linux Automation Scripting</h4>
					<!-- <p>First time getting paid to code. I completed small projects that secure highly sensitive data transfers using strict validation techniques</p> -->
				</mat-card-content>
			</mat-card>
		</div>
		<br>
		<div fxFlex="75%" fxFlex.xs="100%" fxFlex.sm="100%">
			<mat-card class="mat-elevation-z4">
				<mat-card-content>
					<h2 class="main-font" style="text-align: center">Intern &middot; 3 Months</h2>
					<h3 class="main-font" style="text-align: center">Global Governments</h3>
					<h4 class="main-font" style="text-align: center">Project Management Automation &middot; Web Scraping</h4>
					<!-- <p>Assisted project management with menial tasks through automation.</p> -->
				</mat-card-content>
			</mat-card>
		</div>
		<div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="100%">
			<mat-card class="mat-elevation-z4">
				<img mat-card-img src="assets/forcepoint-logo.png">
			</mat-card>
		</div>
		<br>
		<div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="100%">
			<mat-card class="mat-elevation-z4">
				<img mat-card-img src="assets/bluehost.png">
			</mat-card>
		</div>
		<div fxFlex="75%" fxFlex.xs="100%" fxFlex.sm="100%">
			<mat-card class="mat-elevation-z4">
				<mat-card-content>
					<h2 class="main-font" style="text-align: center">Technical Support &middot; 1.5 years</h2>
					<h4 class="main-font" style="text-align: center">Levels .5,I,II &middot; Web Hosting &middot; Linux Server Administration</h4>
					<!-- <p>Manned the trenches as Support levels .5, I, and II.</p> -->
				</mat-card-content>
			</mat-card>
		</div>
	</div>
</div>