/* top right bottom left */
.content {
   padding: 0px 100px 0px 100px;
}

/* The purpose of this is to make the mat-card fill the entire flex layout grid tile. 
   It only gets applied to the 'roles' component. */
mat-card {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

role-words-box {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}