.title-pad {
	width: 16px;
}

.extra-pad {
	width: 16px;
}

.toolbar-spacer {
	flex: 1 1 auto;
}

.parallax-background {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

#me-parallax {
	background-image: url("/assets/collage6.png");
	height: 100%;
	width: 100%;
}

#fun-things-parallax {
	background-image: url("/assets/collage7.png");
	height: 80%;
	width: 100%;
}

#professional-parallax {
	background-image: url("/assets/collage8.png");
	height: 80%;
	width: 100%;
}